
@{
    ViewData["Title"] = "Viewlawyer";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">

            <div class="col-sm-6">
                <h4 class="m-0">Lawyer Details</h4>
            </div>

            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Lawyer</a></li>
                    <li class="breadcrumb-item active">View Lawyer</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="card mx-4">
    <div class="card-body">

        <!-- Lawyer Image -->
        <div class="text-center mb-3">
            <img src="~/images/user.jpg" class="img-circle" style="width:125px;" alt="User">
        </div>

        <div class="row mx-1">

            <!-- Lawyer Name -->
            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold">Lawyer Name</label>
                <p class="form-control">John Doe</p>
            </div>

            <!-- Mobile -->
            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold">Mobile No.</label>
                <p class="form-control">9876543210</p>
            </div>

            <!-- Email -->
            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold">Email</label>
                <p class="form-control">john@gmail.com</p>
            </div>

            <!-- Office Email -->
            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold">Office Email</label>
                <p class="form-control">office@gmail.com</p>
            </div>

            <!-- Office Contact -->
            <div class="col-md-12 mb-3">
                <label class="form-label fw-bold">Office Contact No.</label>
                <p class="form-control">1234567890</p>
            </div>

            <!-- Office Address -->
            <div class="col-md-12 mb-3">
                <label class="form-label fw-bold">Office Address</label>
                <textarea class="form-control" rows="4" >New York Street</textarea>
            </div>

        </div>

    </div>
</div>

