
@{
    ViewData["Title"] = " Admin Create";
}

<div class="container">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <!-- Page Title -->
                <div class="col-sm-6">
                    <h4 class="mx-4">Add Client</h4>
                </div>

                <!-- Breadcrumb -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Client</a></li>
                        <li class="breadcrumb-item active">Add Client</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>

    <form>
        <div class="card mx-4">
            <div class="card-body">

                <!-- Profile Image -->
                <div class="text-center">
                    <img src="~/images/user.jpg" class="img-fluid img-circle" style="width:125px;" alt="User">
                </div>

                <!-- Upload Button -->
                <div class="text-center mt-2">
                    <input type="file" name="avatar" id="avatar" class="d-none" />
                    <label for="avatar" class="btn btn-secondary btn-sm px-3">Choose</label>
                </div>

                <div class="row mx-1 my-3">

                    <!-- Client Name -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Client Name</label>
                        <input type="text" class="form-control" placeholder="Enter client name">
                    </div>

                    <!-- Phone -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Phone</label>
                        <input type="text" class="form-control" placeholder="Enter phone number">
                    </div>

                    <!-- Address -->
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Address</label>
                        <textarea class="form-control" rows="3" placeholder="Enter address"></textarea>
                    </div>
            
                </div>

                <!-- Submit Button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary fs-5 px-4">
                        Add
                    </button>
                </div>

            </div>
        </div>
    </form>


</div>


